include *.md *.txt *.cfg
recursive-include dot_restrict_scopes *.ico *.png *.gif *.jpg *.svg *.eot *.ttf *.woff *.css *.js *.txt *.html *.json *.example
include versioneer.py
include dot_restrict_scopes/_version.py
